<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card card-user shadow-lg p-3 mb-5 bg-light bb w-100">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <div style="display: flex; justify-content: space-between">
                <div>
                  <h2 class="card-title">User Module</h2>
                </div>
                <div
                  _ngcontent-sca-c12=""
                  _ngcontent-eyi-c98=""
                  class="text-end mx-3"
                >
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal2"
                    _ngcontent-sca-c12=""
                    _ngcontent-eyi-c98=""
                    tabindex="0"
                    fdprocessedid="irqpcf"
                    class="btn btn-outline-info btn-sm ng-star-inserted"
                  >
                    <i
                      _ngcontent-sca-c12=""
                      _ngcontent-eyi-c98=""
                      class="fa fa-plus"
                      aria-hidden="true"
                    >
                    </i
                    >&nbsp; Add User
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>