<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-user shadow-lg p-3 mb-5 bg-light bb w-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="card-title">
                                <h2>User Module</h2>
                            </div>
                        </div>
                        <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end mx-3">
                             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" _ngcontent-sca-c12="" _ngcontent-eyi-c98="" tabindex="0" fdprocessedid="irqpcf" class="btn btn-outline-info btn-sm ng-star-inserted">
                                <i  _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="fa fa-plus" aria-hidden="true">
                                </i>
                                &nbsp;Add Product
                             </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <!-- search bar start-->
                    <div class="input-group">
                        <div class="form-outline">
                            <label class="form-label" for="form1">Search</label>
                            <input id="search-focus" type="search" id="form1" class="form-control" placeholder="search"/>
                        </div>
                      </div>
                    <!-- search bar end -->

                    

                </div>
                <!-- <div class=" card-table table-responsive">
                    <table  _ngcontent-eyi-c98="" class="table styled-table table-bordered table-sm mb-0">
                        <thead  _ngcontent-eyi-c98="" style=" background-color: rgb(38, 186, 157);color: rgb(255, 255, 255);font-family: Arial;">
                            <tr _ngcontent-eyi-c98="">
                                <td _ngcontent-eyi-c98="" scope="col">sl.no</td>
                                <th _ngcontent-eyi-c98="" style="width: 106px" scope="col" class="ng-star-inserted">
                                    <div _ngcontent-eyi-c98="" class="row">
                                        <div _ngcontent-eyi-c98="" class="col-md-12">Name</div>
                                        <div _ngcontent-eyi-c98="" class="col sm-2">
                                          <i _ngcontent-eyi-c98=""></i>
                                        </div>
                                      </div>
                                </th>
                                <th
                      _ngcontent-eyi-c98=""
                      scope="col"
                      class="ng-star-inserted"
                    >
                      <div _ngcontent-eyi-c98="" class="row">
                        <div _ngcontent-eyi-c98="" class="col-md-12">
                          Recived By
                        </div>

                        <div _ngcontent-eyi-c98="" class="col sm-2">
                             <i _ngcontent-eyi-c98=""></i>
                             </div>
                           </div>
                        </th>
                        </tr>
                        </thead>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</div>
