img{
    vertical-align: middle;
    border-style: none;
    width: 86px;
    background: aliceblue;
    margin-left: 25px;
}
.space_maker{
    margin-left: 29vw;
}
p{
    font-family: inherit;
    color: aliceblue;
    font-size: 22px;
    text-transform: capitalize;
    text-shadow: 2px 2px red;
}
.header-fixed{
    position:sticky;
    z-index: 1;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  
}
.vv{
    display: flex;
    justify-content: space-between;
}
@media (max-width:600px){
    p{
        font-family: inherit;
        color: aliceblue;
        font-size: 12px;
        text-transform: capitalize;
        text-shadow: 1px 1px red;
    }

}