.icon{
    margin-top: 63px;
    height: 10vh;
}
.data{
    margin-top: 33px;
    height: 17vh;
}
.name{
    /* background-color: aqua; */
    height: 58px;
    margin-top: 10px;
}
.nn{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 8px;
    font-style: initial;
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    /* text-shadow: rgb(133, 97, 97); */
}
.value{
    /* background-color: antiquewhite; */
    height: 55px;
}
.ppp{
    font-size: 2.2rem;
    text-align: center;
    margin-top: 1px;
    padding-top: 19px;
    font-style: initial;
    font-family: sans-serif;
    font-weight: 700;
    color: #000000eb;
    text-shadow: 3px 3px #f5ebeb87;
}
i{
    margin-top: 10px;
    font-size: 3.5rem;
    margin-left: 23px;
    color: antiquewhite;
    text-shadow: 3px 3px #7e6f6f87;
}