#loginpage{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-image: url("https://www.shutterstock.com/image-photo/businessman-checking-inventory-stock-room-manufacturing-199541387"); */
    background-image: url(https://as1.ftcdn.net/v2/jpg/05/06/79/02/1000_F_506790264_N8BVZ9NLLRrTAShK6PADQmo0SZ4LUuJJ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    align-items: center;
}
.content{
    margin-left: 27px;
    border: 3px solid #c7dad58c;
    border-radius: 3px;
}