<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card card-user shadow-lg p-3 mb-5 bg-light bb w-100">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <div style="display: flex; justify-content: space-between">
                <div>
                  <h2 class="card-title">Inventory</h2>
                </div>
                <div
                  _ngcontent-sca-c12=""
                  _ngcontent-eyi-c98=""
                  class="text-end mx-3"
                >
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal2"
                    _ngcontent-sca-c12=""
                    _ngcontent-eyi-c98=""
                    tabindex="0"
                    fdprocessedid="irqpcf"
                    class="btn btn-outline-info btn-sm ng-star-inserted"
                  >
                    <i
                      _ngcontent-sca-c12=""
                      _ngcontent-eyi-c98=""
                      class="fa fa-plus"
                      aria-hidden="true"
                    >
                    </i
                    >&nbsp; Add Product Name
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div _ngcontent-eyi-c98="" class="col-4">
              <label _ngcontent-eyi-c98="" for="designation"
                >Product Name :
              </label>

              <ng-select
                class="selectpicker"
                data-live-search="true"
                id="name"
                formControlName="from"
              >
                <ng-option value="" *ngFor="let product of productList"
                  >{{ product.productName }}
                </ng-option>
              </ng-select>
            </div>
            <div _ngcontent-eyi-c98="" class="col-4">
              <label _ngcontent-eyi-c98="" for="designation"
                >Product Quentity :
              </label>
              <input
                _ngcontent-eyi-c98=""
                type="number"
                #box8
                class="form-control ng-untouched ng-pristine ng-valid"
                fdprocessedid="l9beoe"
              />
            </div>
            <div _ngcontent-eyi-c98="" class="col-sm-12 col-md-6 col-lg-3 mt-4">
              <button
                _ngcontent-eyi-c98=""
                class="btn btn-outline-info btn-sm"
                tabindex="0"
                fdprocessedid="os78ce"
              >
                <i _ngcontent-eyi-c98="" class="fa fa-search"></i>&nbsp;Search
              </button>
              &nbsp;
              <button
                _ngcontent-eyi-c98=""
                type="reset"
                class="btn btn-outline-info btn-sm"
                tabindex="0"
                fdprocessedid="ywyqy9"
              >
                <i _ngcontent-eyi-c98="" class="fa fa-refresh"></i>&nbsp;Reset
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div style="color: rgb(14, 14, 14)" class="table-responsive card">
            <table
              _ngcontent-eyi-c98=""
              class="table styled-table table-bordered table-sm mb-0"
            >
              <thead
                _ngcontent-eyi-c98=""
                style="
                  background-color: rgb(38, 186, 157);
                  color: rgb(255, 255, 255);
                  font-family: Arial;
                "
              >
                <tr _ngcontent-eyi-c98="">
                  <th
                    _ngcontent-eyi-c98=""
                    style="width: 106px"
                    scope="col"
                    class="ng-star-inserted"
                  >
                    <div _ngcontent-eyi-c98="" class="row">
                      <div _ngcontent-eyi-c98="" class="col-md-12">
                        Serial Number :
                      </div>
                      <div _ngcontent-eyi-c98="" class="col sm-2">
                        <i _ngcontent-eyi-c98=""></i>
                      </div>
                    </div>
                  </th>
                  <th
                    _ngcontent-eyi-c98=""
                    style="width: 106px"
                    scope="col"
                    class="ng-star-inserted"
                  >
                    <div _ngcontent-eyi-c98="" class="row">
                      <div _ngcontent-eyi-c98="" class="col-md-12">
                        Product Name :
                      </div>
                      <div _ngcontent-eyi-c98="" class="col sm-2">
                        <i _ngcontent-eyi-c98=""></i>
                      </div>
                    </div>
                  </th>
                  <th
                    _ngcontent-eyi-c98=""
                    style="width: 106px"
                    scope="col"
                    class="ng-star-inserted"
                  >
                    <div _ngcontent-eyi-c98="" class="row">
                      <div _ngcontent-eyi-c98="" class="col-md-12">
                        Product Quentity :
                      </div>
                      <div _ngcontent-eyi-c98="" class="col sm-2">
                        <i _ngcontent-eyi-c98=""></i>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody _ngcontent-hvr-c93>
                <tr
                  _ngcontent-hvr-c93=""
                  class="ng-star-inserted"
                  *ngFor="let user of productList; let i = index"
                >
                  <td _ngcontent-hvr-c93="">{{ user.id }}</td>
                  <td _ngcontent-hvr-c93="">{{ user.productName }}</td>
                  <td _ngcontent-hvr-c93="">{{ user.productQty }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal  -->

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-outline">
          <label class="form-label" for="formControlDefault">Add Product</label>
          <input type="text" id="formControlDefault" class="form-control" />
        </div>
      </div>

      <div class="modal-footer">
        <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end">
          <button
            type="button"
            data-bs-dismiss="modal"
            _ngcontent-sca-c12=""
            _ngcontent-eyi-c98=""
            tabindex="0"
            fdprocessedid="irqpcf"
            class="btn btn-outline-info btn-sm ng-star-inserted"
          >
            <i
              _ngcontent-sca-c12=""
              _ngcontent-eyi-c98=""
              class="fa fa-window-close"
              aria-hidden="true"
            >
            </i
            >&nbsp;Close
          </button>
        </div>

        <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end">
          <button
            type="submit"
            _ngcontent-sca-c12=""
            _ngcontent-eyi-c98=""
            tabindex="0"
            fdprocessedid="irqpcf"
            class="btn btn-outline-info btn-sm ng-star-inserted"
          >
            <i
              _ngcontent-sca-c12=""
              _ngcontent-eyi-c98=""
              class="fa fa-save"
              aria-hidden="true"
            ></i
            >&nbsp;Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
