<div _ngcontent-eyi-c98="" class="card p-3 m-3 shadow-lg p-3 mb-5 bg-light">
  <div _ngcontent-eyi-c98="" class="card-header" style="display: flex">
    <div>
      <i
        style="font-size: 1.15rem"
        routerLink="/dashboard/list-item"
        class="fa-solid fa-arrow-left"
      ></i>
    </div>
    <div>
      <i
        style="font-size: 1.5rem"
        routerLink="/dashboard/list-item"
        class="fa-solid fa-user mx-1"
      ></i>
    </div>
    <div
      style="
        margin-right: 2vw;
        color: black;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-family: fantasy;
        margin-left: 2vw;
      "
    >
      {{ stockin.from }}
    </div>
  </div>

  <div _ngcontent-eyi-c98="" class="card-body">
    <div
      _ngcontent-fcb-c11=""
      class="row ng-star-inserted"
      style="font-size: 1.1rem"
    >
      <div _ngcontent-fcb-c11="" class="col-md-6 col-sm-6">
        <table _ngcontent-fcb-c11="" class="table table-sm">
          <tbody _ngcontent-fcb-c11="">
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable" style="width: 50%">
                <small _ngcontent-fcb-c11="">From</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">{{ stockin.from }}</small>
              </td>
            </tr>
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">Recived By</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">{{ stockin.recivedBy }}</small>
              </td>
            </tr>
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">Recived Date</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">{{ stockin.recivedDate }}</small>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div _ngcontent-fcb-c11="" class="col-md-6 col-sm-6">
        <table _ngcontent-fcb-c11="" class="table table-sm">
          <tbody _ngcontent-fcb-c11="">
            
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small  _ngcontent-fcb-c11="">Total Product</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">{{ stockin.totalProduct }}</small>
              </td>
            </tr>
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">Total Quantity</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">{{ stockin.totalQty }}</small>
              </td>
            </tr>
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">Total Price</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">{{ stockin.totalPrice }}</small>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div _ngcontent-eyi-c98="" class="container-fluid ng-star-inserted">
      <div _ngcontent-eyi-c98="" class="row">
        <div _ngcontent-eyi-c98="" class="col-12">
          <h4>Product List :-</h4>
        </div>
      </div>
    </div>
    <!---->

    <div
      _ngcontent-eyi-c98=""
      style="color: aliceblue"
      class="table-responsive card"
    >
      <table
        _ngcontent-eyi-c98=""
        class="table styled-table table-bordered table-sm mb-0"
      >
        <thead
          _ngcontent-eyi-c98=""
          style="
            background-color: rgb(38, 186, 157);
            color: rgb(255, 255, 255);
            font-family: Arial;
          "
        >
          <tr _ngcontent-eyi-c98="">
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">Product Id</div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">Product Name</div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">
                  Product Quantity
                </div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">Price</div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">Total Price</div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody _ngcontent-hvr-c93>
          <tr
            _ngcontent-hvr-c93=""
            class="ng-star-inserted"
            *ngFor="let user of stockdata; let i = index"
          >
            <td _ngcontent-hvr-c93="">{{ user.productId }}</td>
            <td _ngcontent-hvr-c93="">{{ user.productName }}</td>
            <td _ngcontent-hvr-c93="">{{ user.productQty }}</td>
            <td _ngcontent-hvr-c93="">
              <i class="fa-solid fa-indian-rupee-sign"></i>{{ user.price }}
            </td>
            <td _ngcontent-hvr-c93="">
              <i class="fa-solid fa-indian-rupee-sign"></i>{{ user.totalPrice }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
