<div class="container-fluid m-1 mt-2">
    <div class="row">
        <div class="col-12">
            <div _ngcontent-eyi-c98="" class="card w-100">
                <div _ngcontent-eyi-c98="" class="card-header" style="display: flex">
                    <div>
                      <i
                        style="font-size: 1.15rem"
                        routerLink="/dashboard/Invertory-out"
                        class="fa-solid fa-arrow-left"
                      ></i>
                    </div>
                    <div>
                      <i
                        style="font-size: 1.5rem"
                        routerLink="/dashboard/Invertory-out"
                        class="fa-solid fa-user mx-1"
                      ></i>
                    </div>
                    <div
                      style="
                        margin-right: 2vw;
                        color: black;
                        font-size: 1.5rem;
                        text-transform: capitalize;
                        font-family: fantasy;
                        margin-left: 2vw;
                      "
                    >
                  {{item.from}}
                    </div>
                  </div>
                  <div _ngcontent-fcb-c11="" class="card-body">
                    <div _ngcontent-fcb-c11="" class="row ng-star-inserted" style="font-size: 1.1rem;">
                      <div _ngcontent-fcb-c11="" class="col-md-6 col-sm-6">
                        <table _ngcontent-fcb-c11="" class="table table-sm">
                          <tbody _ngcontent-fcb-c11="">
                            <tr _ngcontent-fcb-c11="">
                              <td _ngcontent-fcb-c11="" class="wrappable" style="width: 50%">
                                <small _ngcontent-fcb-c11="">From</small>
                              </td>
                              <td _ngcontent-fcb-c11="" class="wrappable">
                                <small _ngcontent-fcb-c11="">
                                  {{item.from}}
                                </small>
                              </td>
                            </tr>
                            <tr _ngcontent-fcb-c11="">
                              <td _ngcontent-fcb-c11="" class="wrappable">
                                <small _ngcontent-fcb-c11="">Recived By</small>
                              </td>
                              <td _ngcontent-fcb-c11="" class="wrappable">
                                <small _ngcontent-fcb-c11="">
                                  {{item.receivedBy}}
                                  <!-- {{ stockin.recivedBy }} -->
                                </small>
                              </td>
                            </tr>
                            <tr _ngcontent-fcb-c11="">
                              <td _ngcontent-fcb-c11="" class="wrappable">
                                <small _ngcontent-fcb-c11="">Recived Date</small>
                              </td>
                              <td _ngcontent-fcb-c11="" class="wrappable">
                                <small _ngcontent-fcb-c11="">
                                  {{item.receivedDate}}
                                </small>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div _ngcontent-fcb-c11="" class="col-md-6 col-sm-6">
        <table _ngcontent-fcb-c11="" class="table table-sm">
          <tbody _ngcontent-fcb-c11="">
            
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small  _ngcontent-fcb-c11="">Total Item</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">
                  {{item.totalItem}}
                </small>
              </td>
            </tr>
            <tr _ngcontent-fcb-c11="">
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">Total Quantity</small>
              </td>
              <td _ngcontent-fcb-c11="" class="wrappable">
                <small _ngcontent-fcb-c11="">
                  {{item.totalqty}}
                </small>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div _ngcontent-eyi-c98="" class="container-fluid ng-star-inserted">
        <div _ngcontent-eyi-c98="" class="row">
          <div _ngcontent-eyi-c98="" class="col-12">
            <h4>Item List</h4>
          </div>
        </div>
      </div>
      <div
      _ngcontent-eyi-c98=""
      style="color: aliceblue"
      class="table-responsive card"
    >
      <table
        _ngcontent-eyi-c98=""
        class="table styled-table table-bordered table-sm mb-0"
      >
        <thead
          _ngcontent-eyi-c98=""
          style="
            background-color: rgb(38, 186, 157);
            color: rgb(255, 255, 255);
            font-family: Arial;
          "
        >
          <tr _ngcontent-eyi-c98="">
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">S No.</div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">Product Name</div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
            <th _ngcontent-eyi-c98="" scope="col" class="ng-star-inserted">
              <div _ngcontent-eyi-c98="" class="row">
                <div _ngcontent-eyi-c98="" class="col-md-12">
                  Product Quantity
                </div>
                <div _ngcontent-eyi-c98="" class="col sm-6">
                  <i _ngcontent-eyi-c98=""></i>
                </div>
              </div>
            </th>
           
          </tr>
        </thead>
        <tbody _ngcontent-hvr-c93>
          <tr *ngFor="let items of itemList let i = index"
            _ngcontent-hvr-c93=""
            class="ng-star-inserted"
            
          >
            <td _ngcontent-hvr-c93="">
            {{i+1}}
              <!-- {{ user.productId }} -->
            </td>
            <td _ngcontent-hvr-c93="">
              
              {{ items.productName }}
            </td>
            <td _ngcontent-hvr-c93="">
              {{items.totalQty}}
            </td>
           
          </tr>
        </tbody>
      </table>
    </div> 
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
