<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-user shadow-lg p-3 mb-5 bg-light bb w-100">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h2 class="card-title">Inventory In Form</h2>
            </div>
            <div></div>

            <div
              _ngcontent-sca-c12=""
              _ngcontent-eyi-c98=""
              class="text-end mx-3"
            >
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
                _ngcontent-sca-c12=""
                _ngcontent-eyi-c98=""
                tabindex="0"
                fdprocessedid="irqpcf"
                class="btn btn-outline-info btn-sm ng-star-inserted"
              >
                <i
                  _ngcontent-sca-c12=""
                  _ngcontent-eyi-c98=""
                  class="fa fa-plus"
                  aria-hidden="true"
                ></i
                >&nbsp;Add Receiver Name
              </button>
            </div>
          </div>
        </div>

        <div class="card-body" id="form">
          <!-- <h1> Dynamically Add New Input Fields in Angular </h1> -->
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col">
                <label for="name"><small class="req">*</small>From:</label>
                <input type="text"
                id="name"
                formControlName="from"
                class="form-control"
                readonly
                >
                <!-- <ng-select
                  class="selectpicker"
                  data-live-search="true"
                  id="name"
                  formControlName="from"
                >
                  <ng-option
                    value="{{ logisticsdata.from }}"
                    *ngFor="let logisticsdata of logistics"
                    >{{ logisticsdata.from }}
                  </ng-option>
                </ng-select> -->
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="From.errors?.['required'] && (From.touched || From.dirty)"
                    >From field is required</small
                  >
                </div>
              </div>
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>Received by:</label
                >
                <ng-select id="name" formControlName="recivedBy" required>
                  <ng-option
                    value="{{ logisticsdata.receiver }}"
                    *ngFor="let logisticsdata of Receiver"
                    >{{ logisticsdata.receiver }}</ng-option
                  >
                </ng-select>
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="RecivedBy.errors?.['required'] && (RecivedBy.touched || RecivedBy.dirty)"
                    >Received by field is required</small
                  >
                </div>
              </div>
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>Received date:</label
                >
                <input
                  type="date"
                  id="name"
                  formControlName="recivedDate"
                  class="form-control"
                  required
                />
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="RecivedDate.errors?.['required'] && (RecivedDate.touched || RecivedDate.dirty)"
                    >Receiving Date is required</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>total Quantity:</label
                >
                <input
                  type="number"
                  id="name"
                  formControlName="totalQty"
                  class="form-control"
                  required
                />
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="TotalQty.errors?.['required'] && (TotalQty.touched || TotalQty.dirty)"
                    >Total Quantity required is Required</small
                  >
                </div>
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="TotalQty.errors?.['min'] && (TotalQty.touched || TotalQty.dirty)"
                    >Total Quantity Should be greater than</small
                  >
                </div>
              </div>
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>total Product:</label
                >
                <input
                  type="number"
                  id="name"
                  formControlName="totalProduct"
                  #box
                  (keyup)="productvalue(box.value)"
                  (change)="productvalue(box.value)"
                  class="form-control"
                />
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="TotalProduct.errors?.['required'] && (TotalProduct.touched || TotalProduct.dirty)"
                    >Total Product required is Required</small
                  >
                </div>
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="TotalProduct.errors?.['min'] && (TotalProduct.touched || TotalProduct.dirty)"
                    >Total product should be greater than 0
                  </small>
                </div>
              </div>
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>totalPrice :</label
                >
                <input
                  type="number"
                  id="name"
                  formControlName="totalPrice"
                  class="form-control"
                />
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="TotalPrice.errors?.['required'] && (TotalPrice.touched || TotalPrice.dirty)"
                    >Total Price required is Required</small
                  >
                </div>
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="TotalPrice.errors?.['min'] && (TotalPrice.touched || TotalPrice.dirty)"
                    >Total price should be greater than 0
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>Supplier:</label
                >
                <input
                  type="text"
                  id="name"
                  formControlName="supplier"
                  class="form-control"
                  required
                />
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="Supplier.errors?.['required'] && (Supplier.touched || Supplier.dirty)"
                    >Supplier name is Required</small
                  >
                </div>
              </div>
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>Supply Medium:</label
                >
                <ng-select id="name" formControlName="supplyMedium" required>
                  <ng-option
                    value="bus"
                    >bus</ng-option
                  >
                  <ng-option
                    value="train"
                    >train</ng-option
                  >
                  <ng-option
                    value="truck"
                    >truck</ng-option
                  >
                  <ng-option
                    value="car"
                    >car</ng-option
                  >
                </ng-select>
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="Supplymedium.errors?.['required'] && (Supplymedium.touched || Supplymedium.dirty)"
                    >Supply medium  is Required</small
                  >
                </div>
                
              </div>
              <div class="col">
                <label for="name"
                  ><small class="req">*</small>Order By :</label
                >
                <ng-select id="name" formControlName="orderBy" required>
                  <ng-option
                    value="{{ logisticsdata.receiver }}"
                    *ngFor="let logisticsdata of Receiver"
                    >{{ logisticsdata.receiver }}</ng-option
                  >
                </ng-select>
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="OrderBy.errors?.['required'] && (OrderBy.touched || OrderBy.dirty)"
                    >Order By required is Required</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <label for="name"
                  ><small class="req">*</small>Order Date:</label
                >
                <input
                  type="date"
                  id="name"
                  formControlName="orderdate"
                  class="form-control"
                  required
                />
                <div>
                  <small
                    class="input"
                    style="color: red"
                    *ngIf="Orderdate.errors?.['required'] && (Orderdate.touched || Orderdate.dirty)"
                    >Order Date required is Required</small
                  >
                </div>
              </div>
              
            </div>

            <br />

            <table
              class="table table-bordered"
              formArrayName="stockInventoryItems"
            >
              <div class="rows" style="display: flex">
                <div class="co">
                  <div class="card-title"><small class="req">*</small>Add Item:-</div>
                </div>

                <div
                  style="margin-top: 15px"
                  _ngcontent-sca-c12=""
                  _ngcontent-eyi-c98=""
                  class="text-end"
                >
                  <a
                    _ngcontent-sca-c12=""
                    _ngcontent-eyi-c98=""
                    tabindex="0"
                    fdprocessedid="irqpcf"
                    routerlink="/dashboard/invertory-in"
                    class="btn btn-outline-info btn-sm ng-star-inserted"
                    ng-reflect-router-link="/dashboard/invertory-in"
                    (click)="addQuantity()"
                    ><i
                      _ngcontent-sca-c12=""
                      _ngcontent-eyi-c98=""
                      class="fa fa-plus"
                      aria-hidden="true"
                    ></i
                    >&nbsp;Add Item</a
                  >
                </div>
              </div>

              <tr
                *ngFor="let quantity of quantities().controls; let i = index"
                [formGroupName]="i"
              >
                <td>
                  product Name:
                  <!-- <input type="text" formControlName="productName" class="form-control"> -->
                  <ng-select name="" id="" formControlName="productName">
                    <ng-option
                      value="{{ product.productName }}"
                      *ngFor="let product of products"
                      >{{ product.productName }}</ng-option
                    >
                  </ng-select>
                </td>
                <td>
                  Total Product:
                  <input #box3
                  (keyup)="Box1(box3.value)"
                  (change)="Box1(box3.value)"
                    type="number"
                    formControlName="productQty"
                    class="form-control"
                  />
                </td>
                <td>
                  Price Per Item:
                  <input #box2
                    type="number"
                    formControlName="price"
                    class="form-control"
                    (change)="getdata(box2.value)"
                    (keyup)="getdata(box2.value)"
                  />
                </td>
                <td>
                  Total Price:
                  <input
                    type="number"
                    formControlName="totalPrice"
                    class="form-control"
                    readonly
                  />
                </td>
                <td>
                  <div
                    style="margin-top: 23px"
                    _ngcontent-sca-c12=""
                    _ngcontent-eyi-c98=""
                    class="text-end"
                    (click)="removeQuantity(i)"
                  >
                    <a
                      _ngcontent-sca-c12=""
                      _ngcontent-eyi-c98=""
                      tabindex="0"
                      fdprocessedid="irqpcf"
                      class="btn btn-outline-danger btn-sm ng-star-inserted"
                      ><i
                        _ngcontent-sca-c12=""
                        _ngcontent-eyi-c98=""
                        class="fa-solid fa-trash"
                        aria-hidden="true"
                      ></i
                      >&nbsp;Remove</a
                    >
                  </div>
                </td>
              </tr>
            </table>
            
            <div style="display: flex">
              <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end">
                <button
                [disabled]="productForm.invalid"
                  _ngcontent-sca-c12=""
                  _ngcontent-eyi-c98=""
                  tabindex="0"
                  fdprocessedid="irqpcf"
                  class="btn btn-outline-info btn-sm ng-star-inserted"
                >
                  <i
                    _ngcontent-sca-c12=""
                    _ngcontent-eyi-c98=""
                    class="fa fa-paper-plane"
                    aria-hidden="true"
                  ></i
                  >&nbsp;Submit
                </button>
              </div>

              <div
                _ngcontent-sca-c12=""
                _ngcontent-eyi-c98=""
                class="text-end mx-3"
              >
                <button
                  type="reset"
                  _ngcontent-sca-c12=""
                  _ngcontent-eyi-c98=""
                  tabindex="0"
                  fdprocessedid="irqpcf"
                  class="btn btn-outline-info btn-sm ng-star-inserted"
                >
                  <i
                    _ngcontent-sca-c12=""
                    _ngcontent-eyi-c98=""
                    class="fa fa-refresh"
                    aria-hidden="true"
                  ></i
                  >&nbsp;Reset
                </button>
              </div>

              <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end">
                <button
                  type="button"
                  routerLink="/dashboard/list-item"
                  _ngcontent-sca-c12=""
                  _ngcontent-eyi-c98=""
                  tabindex="0"
                  fdprocessedid="irqpcf"
                  class="btn btn-outline-info btn-sm ng-star-inserted"
                >
                  <i
                    _ngcontent-sca-c12=""
                    _ngcontent-eyi-c98=""
                    class="fa fa-arrow-left"
                    aria-hidden="true"
                  ></i
                  >&nbsp;Back
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Add receiver person name :-</h2>
        <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end">
          <button
            type="button"
            _ngcontent-sca-c12=""
            _ngcontent-eyi-c98=""
            tabindex="0"
            fdprocessedid="irqpcf"
            class="btn btn-outline-info btn-sm ng-star-inserted"
            data-bs-dismiss="modal"
            #receiver
          >
            <i
              _ngcontent-sca-c12=""
              _ngcontent-eyi-c98=""
              class="fa-solid fa-xmark"
              aria-hidden="true"
            ></i
            >&nbsp;
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <input
            class="modal-input"
            type="text"
            placeholder="Entee Product Name"
           [(ngModel)]="data1.receiver"
          />
        </div>
      </div>
      <div class="modal-footer">
        <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end">
          <button
            type="button"
            data-bs-dismiss="modal"
            _ngcontent-sca-c12=""
            _ngcontent-eyi-c98=""
            tabindex="0"
            fdprocessedid="irqpcf"
            class="btn btn-outline-info btn-sm ng-star-inserted"
          >
            <i
              _ngcontent-sca-c12=""
              _ngcontent-eyi-c98=""
              class="fa fa-window-close"
              aria-hidden="true"
            ></i
            >&nbsp;Close
          </button>
        </div>
        <div _ngcontent-sca-c12="" _ngcontent-eyi-c98="" class="text-end">
          <button
            type="reset"
            _ngcontent-sca-c12=""
            _ngcontent-eyi-c98=""
            tabindex="0"
            fdprocessedid="irqpcf"
            class="btn btn-outline-info btn-sm ng-star-inserted"
            data-bs-dismiss="modal"
            (click)="reciverName()"

          >
            <i
              _ngcontent-sca-c12=""
              _ngcontent-eyi-c98=""
              class="fa fa-save"
              aria-hidden="true"
            ></i
            >&nbsp;Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal end -->
